html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

	.bloco {
		width: 445px;
		height: 390px;
		/*border: 1px solid;
		border-color: black;*/
		display: flex;
		position: relative;
	}
	.personagemBus {
		/*border: 1px solid black;*/
		margin: 3px;
		width: 500px;
		height: 200px;
		margin-top: 175px;
		margin-left: 10px;
		position: absolute;
		overflow: hidden;
	}
	.personagemBus img {
		/*width: 150%;*/
		height: 300%;
		margin-top: -200px;
		margin-left: -50px;
		transform: scaleX(-1);
	} 
	#imagemBus {

	}
	#barraInformacoesBus {
		/*border: 1px solid black;*/
		margin: 3px;
		width: 200px;
		height: 380px;
		margin: 4px;
		margin-left: 10px;
		position: absolute;
		visibility: hidden;
		color: white;
	}
	.contornoBus {
		width: 194px;
		height: 30px;
		border: 2px solid;
		border-color: white;
		border-radius: 3px;
	}
	#barraVidaBus {
		width: 194px;
		height: 30px;
		background-color: green;
	}
	.nomeBus {
		margin: 5px;
		width: 250px;

	}
	#bottonIformacao2 {
		/*width: 420px;*/
		width: 855px;
		height: 170px;
		margin-top: 388px;
		margin-left: 5px;
		border: 5px solid;
		border-radius: 7px;
		border-color: white;
		box-shadow:  3px 3px grey;
		background: rgb(0,19,196);
		background: linear-gradient(135deg, rgba(0,19,196,1) 0%, rgba(0,7,93,1) 100%);
		color: white;
		position: absolute;
		font-size: 18pt;
		text-shadow: black 0.1em 0.1em 0.2em;


	/*	visibility: hidden;*/
	}
	#inf {
		margin-left: 15px;
	}
/************************* ESTUDANTE IFPE ************************ */
	.bloco {
		width: 445px;
		height: 390px;
		/*border: 1px solid;
		border-color: black;*/
		display: flex;
		position: relative;
	}
	.personagem {
		/*border: 1px solid black;*/
		margin: 3px;
		width: 150px;
		height: 140px;
		margin-top: 234px;
		margin-left: 100px;
		position: absolute;
	}
	.personagem img {
		width: 100%;
		height: 100%;
		transform: scaleX(-1);
	}
	#barraInformacoes {
		border/*: 1px solid black;*/
		margin: 3px;
		width: 200px;
		height: 380px;
		margin: 4px;
		margin-left: 230px;
		position: absolute;
		visibility: hidden;
		color: white;

	}
	.contorno {
		width: 194px;
		height: 30px;
		border: 2px solid;
		border-color: white;
		border-radius: 3px;
	}
	#vidaEstudante3 {
		width: 194px;
		height: 30px;
		background-color: green;
	}
	#bottonIformacao {
		width: 420px;
		height: 170px;
		margin-top: 388px;
		visibility: hidden;
		border: 5px solid;
		border-radius: 7px;
		border-color: white;
		box-shadow:  3px 3px grey;
		background: rgb(0,19,196);
		background: linear-gradient(135deg, rgba(0,19,196,1) 0%, rgba(0,7,93,1) 100%);
		color: white;
		font-size: 18pt;
		text-shadow: black 0.1em 0.1em 0.2em;
	}
	.nome {
		margin: 5px;
	}
	.divAtaques {
		border: 1px solid black;
		width: 150px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px;
		margin-top: 6px;
		margin-left: 250px;
		border: 5px solid;
		border-radius: 7px;
		border-color: white;
		box-shadow:  3px 3px grey;
		background: rgb(0,19,196);
		background: linear-gradient(135deg, rgba(0,19,196,1) 0%, rgba(0,7,93,1) 100%);
	}
	#listaStatus {
		position: absolute;
		margin-top: 30px;
		margin-left: -10px;
		font-size: 15pt;

	}