#main {
	background: #44A08D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 24px;
	background: #44A08D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#bloco1 {
	border: 1px solid;
	border-color: dimgrey;
	height: 500px;
	width: 700px; 
	background-color: whitesmoke;
	border-radius: 5px;
}

#topRow {
/*	border: 1px solid;
	border-color: blue;*/
	height: 290px;
	width: 670px;
	margin-top: 5px;
	margin: 15px;
	display: flex;
	justify-content: center;

}

#imageBackground {
	position: relative;
	width: 100%;
	border-radius: 3PX;
}

#blocoPersonagem {
	position: absolute;
	display: inline-flex;
}

.barraHP {
	height: 15px;
	width: 100px; 
	border: 2px solid;
	border-color: black;
}




#hpp1 {
	height: 270px;
	width: 100px;
/*	border: 1px solid;
	border-color: darkblue;
*/	margin: 5px;
	font: 12pt Arial;

}

#lifep1 {
	height: 15px;
	width: 100px;
	background-color: green; 
}

#player1 {
	height: 270px;
	width: 200px;
/*	border: 1px solid;
	border-color: darkblue;*/
	margin: 5px;
}

#player1 img {
	height: 100px;
	margin-top: 170px;
	margin-left: 50px;
}





#inimigo {
	height: 270px;
	width: 200px;
	/*border: 1px solid;
	border-color: darkblue;*/
	margin: 5px;
}

#inimigo img {
	height: 200px;
	margin-top: 70px;
	margin-left: px;
}

#hpbs {
	height: 270px;
	width: 100px;
	/*border: 1px solid;
	border-color: darkblue;*/
	margin: 10px;
	margin: 5px;
	font: 12pt Arial;
}

#lifebs {
	height: 15px;
	width: 100px;
	background-color: green;
}





#botton {
	margin-left: 5px;
	height: 160px;
	width: 685px;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#bottonRow1 {
/*	border: 1px solid;
	border-color: green;*/
	border-radius:3px;
	height: 160px;
	width: 380px;
	margin-top: 5px;
	margin: 10px;
	background-color: #E0E0E0;

}

#bottonRow1 p {
	margin-left: 50px;
}

#bottonRow1 button {
	margin-left: 80px;
	background-color: #A9A9A9;
	border: 2px solid;
	border-color: black;
	border-radius: 3px;
	font-weight:bold;
}

#bottonRow1 button:hover {
	background-color: black;
    color: white;
}


#bottonRow2 {
	/*border: 1px solid;
	border-color: green;*/
	background-color: #E0E0E0;
	height: 160px;
	width: 380px;
	margin-top: 5px;
	margin: 5px;
	visibility: visible;
}

#bottonRow2 p {
	margin-top: 1px;
	margin-bottom: -20px;
	margin-left: 10px;
}

#bottonRow2 button {
	margin-left: 150px;
	background-color: #A9A9A9;
	border: 2px solid;
	border-color: black;
	border-radius: 3px;
	font-weight:bold;
}

#bottonRow2 button:hover {
	background-color: black;
    color: white;
}
